/*map */



#container {float: none;
    height: 100%;
    margin: 0 auto;
    width: 83.33%;}      
#map_canvas {
    float:left;
    width:95%;
    height:500px;
}
.store1 .row {
	margin:0;}
.storemap {
	display: block;
    min-height: 1000px;
    overflow: hidden;
    position: relative;
}
.shadow {
   -moz-box-shadow:    1px 1px 3px 1px #424345;
   -webkit-box-shadow: 1px 1px 3px 1px #424345;
   box-shadow:         1px 1px 3px 1px #424345;
}          

.row{padding:10px;}


/*map */        