#main{
width:960px;
margin:50px auto;
font-family:raleway;
}
span{
color:red;
}
#note{
position: absolute;
left: 291px;
top: 28px;
}
h2{
background-color: #FEFFED;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 30px;
}
p{
color : blue;
}
p.no_found{
color : red;
}
hr{
border:0;
border-bottom:1px solid #ccc;
margin: 10px -40px;
margin-bottom: 30px;
}
#show_form{
width:300px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: 20px;
}
input[type=text],[type=date]{
width:100%;
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:raleway;
background-color: #FEFFED;
}
input[type=submit]{
width: 100%;
background-color:#FFBC00;
color: white;
border: 2px solid #FFCB00;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 15px;
}
.message{
position: absolute;
font-weight: bold;
font-size: 28px;
top:300px;
left: 862px;
width: 500px;
text-align: center;
}
.error_msg{
color:red;
font-size: 16px;
}
.emp_table{
position: absolute;
font-weight: bold;
font-size: 28px;
top:30px;
left: 862px;
width: 516px;
text-align: center;
}
table tr td {
border: 1px solid #CCCCCC;
padding : 5px 10px;
}
td.e_id{
padding-left:0;
text-align: center;
}
td.j_date{
width : 100px;
}
caption{
margin-left: 500px;
}
table {
border-collapse: collapse;
}
.result_table{
width : 750px;
margin-left: -120px;
}
th{
border: 1px solid #CCCCCC;
background-color: #FFBC00;
color: white;
padding : 10px 0;
}
.mob{
width:130px;
}