/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'opensans-light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    src: local('?'),
    url('../fonts/OpenSans-Light.otf') format('opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.svg') format('svg');
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    src: local('?'),
    url('../fonts/OpenSans-Bold.otf') format('opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.svg') format('svg');
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    background-color: #000 !important;
}

a {
    color: #9e1c51;
    text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.projects-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-top: -17px;
}

.foot-con p {
    font-family: 'opensans-light';
}

.last-col .linkedin-log span {
    width: 250px !important;
}

.projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

.share-pg {
    cursor: pointer;
}

.foot-con {
    position: absolute;
    bottom: 80px;
    width: 100%;
}

.project1 .foot-con, .project2 .foot-con, .project3.foot-con {
    bottom: 25px;
}

.inner-con {
    padding-top: 20%;
    position: relative;
}

.logo-part {
    width: 120px;
    margin: 0 auto;
    float: none;
    overflow: hidden;
    clear: both;
    margin-bottom: 25px;
}

.cd-project-info p.msg2 {
    text-align: center;
    margin-bottom: 20px;
}

.sharing-list {
    margin: 0 auto;
    margin-bottom: 15px;
}

.sharing-list ul {
    width: 300px;
    margin: 0 auto;
}

.sharing-list ul li {
    display: inline-block;
    list-style: none;
}

.sharing-list ul li a {
    width: 40px;
    height: 40px;
}

#alert-msg {
    background-color: #f5f5f5;
    color: #000;
    z-index: 999;
    top: 0px;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    left: 10%;
    color: #313131;
    font-size: 14px;
    text-align: center;
    font-family: 'opensans-light', arial;
    border-bottom: 2px solid #987c3a;
}

.share-pg {
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #987d3a;
    padding: 10px;
    width: 200px;
    color: #987d3a;
    webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.share-pg:hover a {
    color: #fff;
}

.share-pg:hover {
    background-color: #987d3a;
    color: #fff;
    border: 1px solid #987d3a;
}

.visit-site, .share-pg a {
    color: #987d3a;
    font-family: 'opensans-light';
    font-size: 14px;
    margin-bottom: 10px;
}

.visit-site a {
    text-decoration: none;
    font-family: 'opensans-bold', arial;
    color: #313131;
}

.visit-site a:hover {
    color: #987d3a;
}

.logo-part img {
    max-width: 100%;
}

.invite-part {
    width: 200px;
    height: 40px;
    margin: 0 auto;
}

.invite-via-sym ul li {
    list-style: none;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    width: 70px;
    height: 40px;
    vertical-align: middle;
    border: 1px solid #987d3a;
    webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}

.invite-via-sym ul li:first-child {
    background: url(../img/invite-facebook-gold.png) #fff no-repeat;
    background-position: 50% 50%;
}

.invite-via-sym ul li:first-child:hover {
    background: url(../img/invite-facebook-white.png) #987d3a no-repeat;
    background-position: 50% 50%;
}

.invite-via-sym ul li:last-child {
    background: url(../img/invite-linkedin-gold.png) #fff no-repeat;
    background-position: 50% 50%;
}

.invite-via-sym ul li:last-child:hover {
    background: url(../img/invite-linkedin-white.png) #987d3a no-repeat;
    background-position: 50% 50%;
}

.invite-via-sym {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.invite-part i {
    margin-right: 5px;
    vertical-align: middle;
}

.invite-part a {
    color: #313131;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
}

.register-fb, .linkedin-log {
    position: absolute;
    top: 8px;
    width: 100%;
}

.linkedin-log span {
    width: 38px;
    float: left;
    opacity: 0;
}

.fb_iframe_widget {
    opacity: 0;
}

.projects-container .cd-single-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    /* on mobile -  move items outside the viewport */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.last-col h2 {
    color: #987d3a !important;

}

.projects-container .cd-single-project:nth-of-type(1) {
    background-image: url("../img/slide-1-static-bw.jpg");
    background-repeat: no-repeat;
    background-position: 28% 100%;
    background-size: cover;
}

.cd-title p {
    display: block;

    font-style: normal;
}

.projects-container .cd-single-project:nth-of-type(2) {
    background-image: url("../img/slide-2-static-bw.jpg");
    background-repeat: no-repeat;
    background-position: 25% 100%;
    background-size: cover;
}

.projects-container .cd-single-project:nth-of-type(3) {
    background-image: url("../img/slide-3-static-bw.jpg");
    background-repeat: no-repeat;
    background-position: 25% 100%;
    background-size: cover;
}

.projects-container .cd-single-project:nth-of-type(3) {
    background-color: #ffffff;
}

.is-full-width .cd-title p, .is-full-width .cd-title h2 {
    display: none;
}

.projects-container .cd-single-project::after {
    /* background image */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    background-image: url("../img/img-1-small.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: opacity 0.5s, height 0.4s;
    -moz-transition: opacity 0.5s, height 0.4s;
    transition: opacity 0.5s, height 0.4s;
}

.projects-container .cd-single-project::before {
    /* never visible - this is used in jQuery to detect if the background image has been loaded  */
    content: 'img/img-1-small.jpg';
    display: none;
}

.projects-container .cd-single-project:nth-of-type(2) {
    top: 50vh;
}

.projects-container .cd-single-project:nth-of-type(2)::after {
    background-image: url("../img/img-2-small.jpg");
}

.projects-container .cd-single-project:nth-of-type(2)::before {
    content: 'img/img-2-small.jpg';
}

.projects-container .cd-single-project:nth-of-type(3) {
    top: 75vh;
}

.projects-container .cd-single-project:nth-of-type(3)::after {
    background-image: url("../img/img-3-small.jpg");
}

.projects-container .cd-single-project:nth-of-type(3)::before {
    content: 'img/img-3-small.jpg';
}

.projects-container .cd-single-project:nth-of-type(4) {
    top: 0vh;
}

.projects-container .cd-single-project:nth-of-type(4)::after {
    background-color: #ffffff !important;
    background-image: none;
}

.projects-container .cd-single-project:nth-of-type(4)::before {
    content: '';
    background-color: #fff;
}

.last-col form ul li {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    float: none;
    display: block;
    max-width: 400px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    outline: 0 none;
    position: relative;
    background-color: #fff;
    border: 1px solid #987d3a;
    color: #987d3a;
    text-align: center;
    padding-top: 21px;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
    webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.last-col form ul li:hover {
    color: #fff;
    background-color: #987d3a;
    border: 1px solid #fff;
}

.last-col form ul li:hover:first-child {
    background: url(../img/fb-icon-hover.png) no-repeat #987d3a;
    background-position: 21% 50%;
}

.last-col form ul li:hover:last-child {
    background: url(../img/linkedin-icon-hover.png) no-repeat #987d3a;
    background-position: 21% 50%;
}

.main-logo2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 278px;
    margin-bottom: 40px;
}

.project1 .visit-site, .project2 .visit-site, .project3 .visit-site {
    width: 100%;
    height: 40px;
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
}

.project1 .social-icons, .project2 .social-icons, .project3 .social-icons {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    float: none;
}

.main-logo2 img {
    max-width: 100%;
}

.social-icons ul li {
    list-style: none;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
    cursor: pointer;
    color: #987d3a;
    font-family: 'opensans-light';
    font-size: 14px;

}

.last-col {
}

.last-col form {
    margin: 0 auto;
    margin-top: 16vh;
    width: 76%;
}

.last-col p {
    line-height: 1.5em;
    text-align: center;
    width: 94%;
    margin: 0 auto;
    color: #987d3a !important;
    font-family: arial;
    display: block !important;
}

.last-col p a {
    color: #987d3a !important;
    font-weight: bold;
}

.last-col {
    cursor: default !important;
}

.last-col form ul {
    margin-top: 4vh;
}

.last-col form ul li:first-child {
    background: url(../img/fb-icon.png) no-repeat #fff;
    background-position: 21% 50%;
}

.last-col form ul li:last-child {
    background: url(../img/linkedin-icon.png) no-repeat #fff;
    background-position: 21% 50%;
}

.projects-container .cd-single-project.is-loaded {
    /* move items in the viewport when background images have been loaded */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.projects-container .cd-single-project.is-full-width {
    /* selected item */
    top: 0;
    height: auto;
    z-index: 1;
    cursor: auto;
    -webkit-transition: z-index 0s 0s, top 0.4s 0s;
    -moz-transition: z-index 0s 0s, top 0.4s 0s;
    transition: z-index 0s 0s, top 0.4s 0s;
}

.projects-container .cd-single-project.is-full-width::after {
    height: 100vh;
}

@media only screen and (min-width: 1024px) {
    .projects-container::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }

    .last-col .main-logo2 {

    }

    .last-col .cd-title {
        height: 100%;
        position: relative;
        top: 56vh;
    }

    .projects-container .cd-single-project {
        width: 25vw;
        height: 100%;
        opacity: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: width 0s;
        -moz-transition: width 0s;
        transition: width 0s;
    }

    .projects-container .cd-single-project:first-of-type::before {
        content: 'img/img-1-large.jpg';
    }

    .projects-container .cd-single-project:first-of-type::after {
        background-image: url("../img/img-1-small.jpg");
        background-position: 32% 100%;
        background-attachment: inherit;
    }

    .project-is-open .cd-single-project:first-of-type::after {
        background-image: url("../img/img-1-large.jpg");
        background-position: center center;
    }

    .projects-container .cd-single-project:nth-of-type(2) {
        top: 0;
        left: 25vw;
    }

    .projects-container .cd-single-project:nth-of-type(2)::before {
        content: 'img/img-2-large.jpg';
    }

    .projects-container .cd-single-project:nth-of-type(2)::after {
        background-image: url("../img/img-2-small.jpg");
    }

    .project-is-open .cd-single-project:nth-of-type(2)::after {
        background-image: url("../img/img-2-large.jpg");
        background-position: center center;
    }

    .projects-container .cd-single-project:nth-of-type(3) {
        top: 0;
        left: 50vw;
    }

    .projects-container .cd-single-project:nth-of-type(3)::before {
        content: 'img/img-3-large.jpg';
    }

    .projects-container .cd-single-project:nth-of-type(3)::after {
        background-image: url("../img/img-3-small.jpg");
        background-attachment: inherit;
        background-position: 30% 100%;
    }

    .project-is-open .cd-single-project:nth-of-type(3)::after {
        background-image: url("../img/img-3-large.jpg");
        background-position: top center;
    }

    .projects-container .cd-single-project:nth-of-type(4) {
        top: 0;
        left: 75vw;
        background-color: #fff;
    }

    .projects-container .cd-single-project:nth-of-type(4)::before {
        content: '';
    }

    .projects-container .cd-single-project:nth-of-type(4)::after, .projects-container .cd-single-project:nth-of-type(4)::before {
        background-color: #fff !important;
        background-image: none;
    }

    .projects-container .cd-single-project::after {
        height: 100vh;
        width: 100%;
        opacity: 0;
    }

    .projects-container .cd-single-project.is-loaded {
        /* show items when background images have been loaded */
        opacity: 1;
    }

    .projects-container .cd-single-project.is-loaded::after {
        opacity: 1;
    }

    .projects-container .cd-single-project.is-full-width {
        /* selected item */
        left: 0vw;
        width: 100vw;
        height: 100%;
        -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    }
}

@media only screen and (min-width: 1170px) {
    .projects-container .cd-single-project::after {
        background-attachment: fixed;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
        -moz-transition: -moz-transform 0.8s, opacity 0.5s;
        transition: transform 0.8s, opacity 0.5s;
    }

    .project1 .inner-con, .project2 .inner-con, .project3 .inner-con {
        height: 48vw;
    }

    .projects-container .cd-single-project.is-loaded::after {
        opacity: 0;
    }

    .no-touch .projects-container .cd-single-project:hover::after, .projects-container .cd-single-project.is-full-width.is-loaded::after {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-title {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 12.5vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.is-full-width .cd-title {
    top: 50vh;
    -webkit-transition: opacity 0s, top 0.4s;
    -moz-transition: opacity 0s, top 0.4s;
    transition: opacity 0s, top 0.4s;
}

.cd-title h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'opensans-light', arial;
    color: #fff;
}

.cd-title p {
    font-size: 1.4rem;
    padding: .4em 2em;
    display: none;
    opacity: .6;
    color: #fff;
}

@media only screen and (min-width: 1920px) {
    .last-col form {
        margin-top: 22vh;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-title {
        top: 50vh;
        width: 25vw;
        opacity: 0;
        -webkit-transform: translateY(-50%) translateX(-20px);
        -moz-transform: translateY(-50%) translateX(-20px);
        -ms-transform: translateY(-50%) translateX(-20px);
        -o-transform: translateY(-50%) translateX(-20px);
        transform: translateY(-50%) translateX(-20px);
    }

    .is-loaded .cd-title {
        opacity: 1;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0.6s, left 0.4s;
        transition: transform 0.6s, opacity 0.6s, left 0.4s;
    }

    .is-loaded.is-full-width .cd-title {
        left: 19.5vw;
        -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0s, left 0.4s;
        transition: transform 0.6s, opacity 0s, left 0.4s;
    }

    .cd-title p {
        display: block;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-title h2 {
        font-size: 3.6rem;
    }

    .projects-container .cd-scroll {
        display: none;
    }
}

.cd-project-info {
    clear: both;
    visibility: hidden;
    opacity: 0;
    margin-top: 100vh;
    padding: 4em 0;
    cursor: auto;
    background-color: #ffffff;
    color: #3f538e;
    -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    transition: opacity 0.4s 0s, visibility 0s 0.4s;
}

.is-full-width .cd-project-info {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    float: right;
    height: 100vw;
    width: 33vw;
    -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    transition: opacity 0.4s 0s, visibility 0s 0.4s;
}

.cd-project-info p {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
}

.cd-project-info h3 {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    font-size: 30px;
    color: #313131;
}

.cd-project-info hr {
    height: 3px;
    width: 30px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #313131;
}

@media only screen and (min-width: 1024px) {
    .cd-project-info {
        position: relative;
        z-index: 1;
    }
}

.projects-container .cd-close,
.projects-container .cd-scroll {
    display: block;
    z-index: 1;
    width: 50px;
    height: 50px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
    -moz-transition: -moz-transform 1s 0s, visibility 0s 1s;
    transition: transform 1s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
    position: fixed;
    top: 20px;
    right: 20px;
    background: url("../img/cd-icon-close-mobile.svg") no-repeat center center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

@media only screen and (min-width: 1170px) {
    .projects-container .cd-close {
        background-image: url("../img/cd-icon-close-desktop.svg");
    }
}

.projects-container .cd-scroll {
    position: absolute;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    background: url("../img/cd-icon-arrow-mobile.svg") no-repeat center center;
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-animation: cd-translate 1.2s 0.4s;
    -moz-animation: cd-translate 1.2s 0.4s;
    animation: cd-translate 1.2s 0.4s;
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.no-touch .project-is-open .cd-close:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.no-touch .project-is-open .cd-scroll:hover {
    -webkit-transform: translateX(-50%) scale(1.2);
    -moz-transform: translateX(-50%) scale(1.2);
    -ms-transform: translateX(-50%) scale(1.2);
    -o-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
    }
}

@-moz-keyframes cd-translate {
    0% {
        -moz-transform: translateX(-50%) scale(1);
    }
    50% {
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -moz-transform: translateX(-50%) scale(1);
    }
}

@keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
        -ms-transform: translateY(10px) translateX(-50%) scale(1);
        -o-transform: translateY(10px) translateX(-50%) scale(1);
        transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
}

@media only screen and (max-width: 1100px) {
    .last-col form ul li:first-child, .last-col form ul li:last-child, .last-col form ul li:hover:first-child, .last-col form ul li:hover:last-child {
        background-position: 9% 50%;
    }
}

@media only screen and (max-width: 1020px) {
    .projects-container .cd-single-project:nth-of-type(1) {
        top: 25vh;
    }
}

@media only screen and (max-width: 1170px) {
    .is-full-width .cd-project-info {
        margin-top: 100vh;
        width: 100vw;
        height: 100vh;
    }

    .cd-project-info h3 {
        font-size: 20px;
    }

    .projects-container .cd-single-project.fullh1 .cd-title {
        top: 53.5vh;
        height: 100%;
    }

    .last-col .cd-title h2:last-child {
        display: block !important;
    }

    .projects-container .cd-single-project.fullh1 {
        height: 100% !important;
    }

    .projects-container .is-full-width:nth-of-type(1) {
        top: 0vh;
    }

    .cd-project-info hr {
        margin-bottom: 20px;
    }

    .inner-con {
        padding-top: 0px;
    }

    .cd-project-info {
        clear: both;
        visibility: visible;
        opacity: 1;
        margin-top: 100vh;
        padding: 4em 0;
        cursor: auto;
        background-color: #ffffff;
        color: #3f538e;
        -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
        -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
        transition: opacity 0.4s 0s, visibility 0s 0.4s;
    }

    .logo-part {
        width: 100px;
        margin-bottom: 10px;
    }

    .cd-project-info {
        padding: 5em 0;
    }

    .projects-container .cd-scroll {
        bottom: 30px;
        left: 50%;
        top: auto;
    }

}

@media only screen and (max-width: 1540px) {
    .last-col form ul li:first-child, .last-col form ul li:last-child, .last-col form ul li:hover:first-child, .last-col form ul li:hover:last-child {
        background-position: 14% 50%;
    }

    .invite-part, .project1 .visit-site, .project2 .visit-site, .project3 .visit-site, .project1 .social-icons, .project2 .social-icons, .project3 .social-icons {
        height: 30px;
    }

    .project1 .foot-con, .project2 .foot-con, .project3.foot-con {
        bottom: 90px;
    }
}

@media only screen and (max-width: 1400px) {
    .cd-title h2 {
        font-size: 2.2rem;
    }

    .project1 .foot-con, .project2 .foot-con, .project3.foot-con {
        bottom: 60px;
    }

    .last-col form {
        margin-top: 10vh;
    }

    .inner-con {
        padding-top: 7%;
    }

    .last-col form ul li:first-child, .last-col form ul li:last-child, .last-col form ul li:hover:first-child, .last-col form ul li:hover:last-child {
        background-position: 11% 50%;
    }

    .last-col .main-logo2 {
        max-width: 190px;
    }

    .project-is-open .cd-single-project:nth-of-type(3)::after {
        background-position: top center;
    }

    .cd-project-info p {
        line-height: 1.5;
        font-size: 1.2rem;
    }

    .cd-project-info h3 {
        font-size: 24px;
    }

    .projects-container .cd-close {
        width: 20px;
        height: 20px;
    }

    .cd-project-info p {
        font-size: 15px;
    }

    .last-col p {
        line-height: 1.3em;
        width: 100%;
    }

    .logo-part {
        width: 85px;
    }

    .last-col form ul li {
        height: 50px;
        margin-bottom: 20px;
        padding-top: 16px;
    }
}

@media only screen and (max-width: 1200px) {
    .last-col form ul li:first-child, .last-col form ul li:last-child, .last-col form ul li:hover:first-child, .last-col form ul li:hover:last-child {
        background-position: 4% 50%;
    }

    .fullh1 .cd-title {
        height: 67%;
    }

    .last-col form ul li {
        font-size: 14px;
    }

    .social-icons ul li {
        margin-left: 0px;
        margin-right: 0px;
    }

    .cd-title p {
        padding: .4em 0em;
    }
}

@media only screen and (max-width: 1020px) {
    .last-col {
        height: 25% !important;
        background-color: #fff;
    }

    .social-icons ul li {
        margin-left: 0px;
        margin-right: 0px;
    }

    .inner-con {
        height: 100%;
    }

    .cd-title p {
        display: block;
    }

    .last-col .cd-title form h2 {
        border: 1px solid #987D43 !important;
        width: 300px;
        margin: 0 auto;
        padding: 7px;
        margin-bottom: 24vh;
    }

    .fullh1 .cd-title form h2 {
        margin-bottom: 0px;
    }

    .last-col form {
        margin-top: 7vh;
    }

    .last-col h2 {
        display: block !important;
    }

    .cd-title h2 {
        font-size: 2.0rem;
    }

    .last-col p {
        width: 75%;
    }

    .last-col form ul li {
        height: 50px;
    }

    .last-col .cd-title {
        top: 30.5vh;
    }
}

@media only screen and (max-width: 768px) {
    .last-col .cd-title {
        top: 31.5vh;
    }

}

@media only screen and (max-width: 950px) and (min-width: 560px) {
    .last-col form {
        margin-top: 2vh;
    }
}

@media only screen and (max-width: 768px) and (min-width: 700px) {
    .last-col .cd-title {
        top: 33.5vh;
    }
}

@media only screen and (max-width: 568px) {
    .logo-part {
        width: 63px;
    }

    .invite-part, .project1, .invite-part, .project2, .invite-part, .project3 {
        margin-bottom: 20px;
    }

    .last-col .cd-title form h2 {
        width: 200px;
        padding: 5px;
        font-size: 12px;
        margin-bottom: 24vh;
    }

    .invite-via-sym ul li {
        width: 45px;
        height: 30px;
    }

    .invite-part, .project1 .visit-site, .project2 .visit-site, .project3 .visit-site, .project1 .social-icons, .project2 .social-icons, .project3 .social-icons {
        height: 20px;
    }

    #alert-msg {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
    }

    .sharing-list {
        margin-bottom: 5px;
    }

    .sharing-list ul li a img {
        max-width: 80%;
    }

    .visit-site, .share-pg a, {
        font-size: 11px;
        text-align: center;
        margin: 0 auto;
    }

    .share-pg {
        width: 150px;
        padding: 5px;
        padding-top: 2px;
    }

    .cd-title form h2 {
        width: 200px;
        padding: 3px;
        font-size: 13px;
    }

    .cd-project-info {
        padding: 3em 0;
    }

    .share-pg {
        margin-bottom: 15px;
    }

    .last-col .cd-title {
        top: 35.5vh;
    }

    .cd-project-info hr {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .visit-site, .share-pg a {
        font-size: 12px;
    }

    .last-col .main-logo2 {
        max-width: 170px;
    }

    .last-col form {
        margin-top: 0vh;
    }

    .last-col p.msg2 {
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
        width: 100%;
        font-size: 12px;
    }

    .cd-project-info p {
        text-align: justify;
        margin: 0 auto;
        width: 90%;
        font-size: 12px;
    }

    .cd-project-info h3 {
        font-size: 20px;
    }

    .cd-project-info hr {
        height: 2px;
    }

    .main-logo2 {
        margin-bottom: 20px;
    }

    .last-col p {
        padding: 2.4em 2em;
        width: 100%;
        font-size: 11px
    }

    .social-icons ul li {
        margin-left: 0px;
        margin-right: 0px;
    }

    .invite-part a {
        font-size: 13px;
    }

    .project1 .visit-site, .project2 .visit-site, .project3 .visit-site {
        font-size: 10px;
    }

    .last-col form ul li {
        height: 40px;
        padding-top: 16px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .last-col form ul li:first-child, .last-col form ul li:last-child, .last-col form ul li:hover:first-child, .last-col form ul li:hover:last-child {
        background-position: 16% 50%;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .last-col .cd-title {
        top: 37.5vh !important;
    }

    .fullh1 .cd-title {
        top: 53.5vh !important;
    }
}

@media only screen and (max-width: 375px) {
    .last-col .cd-title {
        top: 32.5vh;
    }

    .last-col p {
        padding: 5px;
    }

    .foot-con {
        bottom: 50px;
    }

    .last-col .cd-title form h2 {
        margin-bottom: 28vh;
    }

    .fullh1 .cd-title form h2 {
        margin-bottom: 9vh;
    }

    .inner-con {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 330px) {
    .last-col .cd-title form h2 {
        margin-bottom: 30vh;
    }

    .fullh1 .cd-title form h2 {
        margin-bottom: 9vh;
    }
}

@media only screen and (max-width: 350px) {
    .last-col .cd-title {
        top: 41.5vh !important;
    }
}

@media only screen and (max-width: 370px) {
    .last-col .cd-title {
        top: 38.5vh;
    }

    .share-pg {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 280px) {
    .last-col .cd-title {
        top: 65.5vh;
    }

    .last-col .main-logo2 {
        max-width: 129px;
        margin-bottom: 2px;
    }

    .cd-title h2 {
        font-size: 1.5rem;
    }

    .last-col form ul li:first-child, .last-col form ul li:last-child {
        background-position: 5% 42%;
    }
}

@media only screen
and (min-device-width: 200px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .projects-container {
        display: none;
    }

    .landscape-pg {
        display: block !important;
        width: 100%;
        max-height: 375px;
        height: 375px;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    body {
        background-color: #212121 !important;
    }

    .landscape-pg img {
        max-width: 100%;
    }

}
