.inivisible{visibility: hidden;}
.main-slider .slider-sections {
  width:20%;
  float:left;
  
}
.goto-top-icon a {
  display: none;
}
.screen-flip-slider .animating .side,.screen-flip-slider .animating .sides {
  display: block;
  clear: both;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.bfload img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.hover-content-cat div {
  z-index: 9999999;
 } 
.ui.grid>[class*="three column"].row>.column {
    width: 33.33%!important;
    margin: 0 !important;
    padding: 0 !important;
}
.loading-ico {
  background:url(http://rigalio.com/x/no_access/content/images/slider-loader.gif);
  z-index: 9999;
  margin:0 auto;
  background-position: center center;
  background-size: contain; 
  visibility: visible;
  background-repeat: no-repeat;
  width: 60px !important;
}

.ui.grid>[class*="three1 column"].row>.column {
    width: 33.1%!important;
    margin: 0 !important;
    padding: 0 !important;
}
.main-slider {
  margin: 0 auto; width: 100%; display: block; clear: both; float: none; height: 770px;
}
.ui.grid>[class*="four column"].row>.column {
    width: 25%!important;
    margin: 0 !important;
    padding: 0 !important;
}
.ui.grid>[class*="five column"].row>.column {
    width: 20%!important;
    margin: 0 !important;
    padding: 0 !important;
}
.main-slider .ui {
  margin: 0 auto !important;width: 100% !important; padding: 0; display: block !important; float: none; clear: both;
}
.header-collapse-btn {
  padding-left: 45px;
  padding-top: 26px;
}
.subcategory-slider .carousel-indicators {
  bottom: -42px;
}
.subcategory-slider .carousel-inner {
  margin-bottom: 50px;
}
#myCarousel .row {
  max-height: 631px;
  overflow: hidden;
}
.banner-hover-con img {
 min-width: inherit;
width: auto;
height: auto;
}
.screen-flip-slider .ui.grid>[class*="five1 column"].row>.column {
  width: 19.99% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.main-slider .banner-hover-con img {
  display: none;
}
.left-side-img .carousel .item {
  max-height: none;
}
.thumnails-part .carousel-inner {}
.thumnails-part .item {
    display: inline-block;
}
.ui.grid>[class*="four1 column"].row>.column {
    width: 19.99%; margin: 0 !important; padding:0 !important;
}   
.main-slider-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: block;
  clear: both;
  float: none;
  margin-top:20px;
  margin-bottom: 60px;
  
  }
 .shape .side.active.hidden{display: block!important; visibility: visible !important;}
  .shape{width: 100%}
  .main-slider-container {
    margin-top: 76px;
  }
  .ui.image {
    max-width: 100%;
    width: 100%; padding: 0;
  }
  .main-slider-container .row {
    margin: 0 !important;
    padding:0 !important;
  } 
 .carousel-indicators {
  bottom: -60px;
 }
.hover-content-cat {
  color: white;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  margin: 0 auto;  
}
.hover-content-cat .tab {
  display: table;
  height: 100%;
}
.hover-content-cat .tab .tab-in,.banner-hover-con .tab .tab-in {
  display: table-cell; vertical-align: middle;
}
.banner-hover-con {
    color: white;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 1.5;  /* transition: opacity .4s .5s ease; */
}
.banner-hover-con hr {
  width:30%;
  margin: 0 auto;
  border:1px solid #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom:10px;
}
.banner-hover-con span {
  display: block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.category-slider .banner-img1-sectn2 .banner-hover-con, .category-slider .banner-img1-sectn4 .banner-hover-con {
  padding-top: 60%;
}
.category-slider .banner-img1-sectn1 .banner-hover-con {
  padding-top: 25%;
}
.subcategory-slider .banner-img1-sectn1 .banner-hover-con {
  padding-top: 32%;
}
.banner-img1-sectn2 .banner-hover-con, .banner-img1-sectn4 .banner-hover-con {
   padding-top: 60%;
}
.banner-img1-sectn1 .banner-hover-con, .banner-img2-sectn1 .banner-hover-con, .banner-img2-sectn3 .banner-hover-con
, .banner-img1-sectn3 .banner-hover-con, .banner-img1-sectn5 .banner-hover-con, .banner-img2-sectn5 .banner-hover-con {
   padding-top: 25%;
}
.carousel-indicators li {
  border-radius: 0px !important;
  background-color: #c3c3c3;
  border: 0 none;
  margin-left: 10px;
  margin-right:10px;
  height:6px;
  width:6px;
}
.carousel-indicators .active {
  background-color:#b47b33;
  margin-left: 10px;
  margin-right: 10px;
  height: 7px;
  width: 7px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
  height: auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.ui.shape .sides {
    width: 100%;
    display: block !important;
    padding: 0;
    margin: 0;
    clear: both;
}
.progress-buttons li {
  list-style: none; display: inline-block; width: 10px; height: 10px; background-color: #f5f5f5; cursor: pointer;
}
.progress-buttons {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 18px;
} 
.progress-buttons li.active {
  background-color: #b47e36;
}
.category-flip {
  margin-top: 27px;
  margin-bottom: -82px;
}
.ui.grid>[class*="five column"].row>.column {
    margin: 0;
    padding: 0;background-color: #000;
}
.ui.grid>[class*="four column"].row>.column {
  margin: 0; padding: 0; background-color: #000;
}
.ui.grid>[class*="two column"].row>.column {
    width: 50%!important;margin: 0;
    padding: 0;background-color: #000;
}
.ui.grid>[class*="two1 column"].row>.column {
    width: 49%!important;margin: 0;
    padding: 0;background-color: #000;
}
.ui.shape.animating .sides {
    position: absolute;
    -webkit-transition: -webkit-transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;
    transition: transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;padding: 0; margin: 0; }
    
.ui.shape.animating .side {
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    padding: 0; margin: 0;
}
.ui.shape:hover .banner-hover-con {
    opacity: 1;
    z-index: 99;
    color: inherit;-webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  max-height: 666px;
      background-color: #fff;
      height: auto;
}
.carousel-control.left, .carousel-control.right {
	background:none !important;

	}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.thumnails-part .item {}
/* product slider with thumbnails*/
.product-carousel-inner .carousel .item {
  max-height: initial;
  background-color: transparent;
}
.product-carousel-inner .carousel .item img {
    width: 100%;
    position: relative;
    min-width: initial;
}
.thumb-inner {
  display: block;overflow: hidden;margin: 0 auto;text-align: center;clear:both;
}
.product-carousel-inner .thumnails-part .carousel-control.left {
  top: 30%;
  left: -8%; display: none;
}
.product-carousel-inner .thumnails-part .carousel-control.right {
  top: 30%;
  right: -8%; display: none;
}
.product-carousel-inner .slides-part .carousel-control.left {
  left: -11%;
  top: 50%;
}
.product-carousel-inner .slides-part .carousel-control.right {
  right: -11%;
  top: 50%;
}
.product-carousel-inner .thumnails-part span i,.thumbnails-part span i {
  font-size: 50px;
  color:#b8813e;
}
.product-carousel-inner .slides-part span i {
  font-size: 20px;
  color:#b8813e;
}
.product-carousel-inner .carousel {
    margin-top: 20px;
}
.product-carousel-inner .carousel .item .thumb {
  width: 100px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 100px;
  float: left;
}
.thumbnails-part .carousel-control.left,.thumbnails-part .carousel-control.right {
  top: 30px;
  font-size: 30px;
}
.product-carousel-inner .carousel .item img {
  width: 100%;  
}
.product-carousel-inner {
  margin: 0 auto;
  display: block;
  clear: both;
  float: none;
}
.overlay-bg span {
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}
.thumnails-part .overlay-bg {
  background:rgba(0,0,0,.5);
  text-align:center;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  position: absolute;
  display: none;
    top: 0px;
    width: 100%;
    height: 100%;
}
.thumnails-part .overlay-bg i.fa-plus {
    font-size: 20px;
    margin: 0 auto;
    color: #fff;
    height: 100%;
    width: 100%;
    clear: both;
    display: table-cell;
    vertical-align: middle;
}
.product-slider .fullwidth {
    width: 90%;
  }
/* product page new slider*/
.slider-navigation {
  text-align: center;
}
.slider-navigation img {
  margin:0 auto;
}
.list-inline {
  margin: 0 auto;
  text-align: center;
}
.thumbnails-part .list-inline li {
  width: 120px; height: 120px;
  padding: 0px;
  cursor: pointer;position: relative;
}
.slider-nav-arrow {
  text-align: center;
  margin-bottom: 0px;
  visibility: hidden;
}
.thumbnails-part .overlay-bg {
    background: rgba(0,0,0,.5);
    text-align: center;
    padding: 45px 0 66px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.thumbnails-part .overlay-bg i {
  font-size: 20px; color: #fff;
}

.selected .overlay-bg,.thumnails-part .active .overlay-bg,.thumnails-part .item:hover .overlay-bg { opacity: 1;
 }

/*product page new slider */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.left-side-img .carousel-control.left {
  top: 48%;
  left: 0;
  width: 50px;
}
.left-side-img .carousel-control.right {
  top: 48%;
  right: 0;
  width: 50px;
}
.left-side-img .carousel-control {
  font-size: 40px;
  color: #fff;
  opacity: 1;
}
.subcategory-slider {
  margin-top: 0px;
}
/* Featurettes
------------------------- */
@media only screen and (min-width: 1600px) {
.ui.grid>[class*="five column"].row>.column {
    width: 19.9%!important;
}
.ui.grid>[class*="four column"].row>.column {
    width: 24.9%!important;
    margin: 0 !important;
    padding: 0 !important;
}
}

@media only screen and (max-width: 1366px) {
#myCarousel .row {
    max-height: 443px;
}
.main-slider {
  height: 556px;
}
.main-slider-container {
  margin-bottom: 28px;
  height: 
}
.product-carousel-inner .thumnails-part span i, .thumbnails-part span i {
  font-size: 30px;
}
.category-flip {
  margin-top: 21px;
}
.product-carousel-inner .thumnails-part .carousel-control {
  width: auto;
}
.product-carousel-inner .carousel .item .thumb {
  width: 70px; height: 70px;
}
.subcategory-slider {
  margin-top: -30px;
}
.category-flip {
  margin-top: 21px;
  max-height: 520px;
}
.screen-flip-slider {
  margin-top: 70px;
  margin-bottom: 28px;
}
.carousel-indicators li {
  height: 5px; width: 5px;
}
.carousel-indicators .active,.progress-buttons {
  margin-top: 7px;
}
.carousel-indicators li .active,.progress-buttons li,.progress-buttons li.active {
  height: 6px; width: 6px;
}
}

@media only screen and (max-width: 768px) {
.main-slider .slider-sections {
  width: 25%;
}
.main-slider .hidden-sm4,..main-slider .hidden-sm5 {
  display: none;
}
.hidden-cat-optns ul li {
    width: 33.33%;
}
.mobile-flip-slider .ui.grid, .main-slider .ui {
  padding: 0 !important;
}
.screen-flip-slider {
  margin-top: 69px;
}
.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding: 0 !important;
}
.carousel-indicators {
    bottom: -54px;
}
.category-flip,.subcategory-slider {
    margin-top: 20px;
}
.subcategory-slider .carousel-inner {
    margin-bottom: 40px;
}
.subcategory-slider,.subcategory-slider .main-slider {
  height: auto;
  margin-bottom: 0px;
}
.carousel {
    margin-bottom: 63px;
}
.product-carousel-inner .slides-part span i {
  font-size: 50px;
}
.product-carousel-inner .thumnails-part span i {
  font-size: 30px;
}
.product-carousel-inner .slides-part .carousel-control.left {
  left: -16%;
}
.product-carousel-inner .slides-part .carousel-control.right {
  right: -16%;
}
.thumnails-part .item {
  width: 70px;
}
.expand-slide-img {
  top: 85%;
}
}
/* RESPONSIVE CSS
-------------------------------------------------- */
/*@media only screen and (max-width: 500px) and (min-width: 350px) {*/
  @media only screen and (max-width: 568px) {
.thumnails-part .overlay-bg i.fa-plus {
  font-size: 11px;
}
.mobile-flip-slider {
  width: 100%;margin-top: 52px;
}
.carousel {
    margin-bottom: 8px;
}
.product-carousel-inner .carousel .item .thumb {
  width: 40px;
  height: 40px;
}
.thumb-inner {
  max-width: 230px;
  max-height: 43px;
}
.mobile-flip-slider .ui.shape .side {
  width: 101% !important;
}
.loading-ico {
  width: 35px !important;
}
.category-flip .lastone {
  display: block !important;
}
.category-flip,.subcategory-slider {
    margin-top: 21px;
}
.product-carousel-inner .thumnails-part .carousel-control {
  top: 0 !important;
}
.banner-images {
  max-height: 220px;
  max-width: 240px;
}
.banner-hover-con img {
  max-width: 80%;
}
.banner-hover-con {
  padding-top: 7% !important;
}
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .loading-ico {
    width: 20px !important;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  
  
}
@media only screen and (max-width: 500px) and (min-width: 350px) {
.carousel .item {
      max-height: 1000px;
}
}
