
.main-slider .slider-sections {
  width:20%;
  float:left;
  
}
.header-collapse-btn {
  padding-left: 45px;
    padding-top: 2%;
}
.banner-img1-sectn2 img, .banner-img1-sectn4 img {
} 
.banner-img1-sectn2 , .banner-img1-sectn4 {

}
#myCarousel .row {
  max-height: 631px;
  overflow: hidden;
}
.banner-hover-con img {
 min-width: inherit;
width: auto;
height: auto;
}
.left-side-img .carousel .item {
  max-height: none;
}
.main-slider-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    clear: both;
    float: none;
  margin-top:20px;
  margin-bottom: 39px;
  
  }
 .shape .side.active.hidden{display: block!important; visibility: visible !important;}
  .shape{width: 100%}
  .main-slider-container {
    margin-top: 114px;
  }
  .ui.image {
    max-width: 100%;
    width: 100%; padding: 0;
  }
  .main-slider-container .row {
    margin: 0 !important;
    padding:0 !important;
  } 
 .carousel-indicators {
  bottom: -60px;
 }
.hover-content-cat {
  color: white;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  margin: 0 auto;  
}
.hover-content-cat .tab {
  display: table;
  height: 100%;
}
.hover-content-cat .tab .tab-in,.banner-hover-con .tab .tab-in {
  display: table-cell; vertical-align: middle;
}
.banner-hover-con {
    color: white;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 1.5;  /* transition: opacity .4s .5s ease; */
}
.banner-hover-con hr {
  width:30%;
  margin: 0 auto;
  border:1px solid #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom:10px;
}
.banner-hover-con span {
  display: block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.category-slider .banner-img1-sectn2 .banner-hover-con, .category-slider .banner-img1-sectn4 .banner-hover-con {
  padding-top: 60%;
}
.category-slider .banner-img1-sectn1 .banner-hover-con {
  padding-top: 25%;
}
.subcategory-slider .banner-img1-sectn1 .banner-hover-con {
  padding-top: 32%;
}
.banner-img1-sectn2 .banner-hover-con, .banner-img1-sectn4 .banner-hover-con {
   padding-top: 60%;
}
.banner-img1-sectn1 .banner-hover-con, .banner-img2-sectn1 .banner-hover-con, .banner-img2-sectn3 .banner-hover-con
, .banner-img1-sectn3 .banner-hover-con, .banner-img1-sectn5 .banner-hover-con, .banner-img2-sectn5 .banner-hover-con {
   padding-top: 25%;
}
.carousel-indicators li {
  border-radius: 0px !important;
  background-color: #c3c3c3;
  border: 0 none;
  margin-left: 10px;
  margin-right:10px;
  height:6px;
  width:6px;
}
.carousel-indicators .active {
  background-color:#b47b33;
  margin-left: 10px;
  margin-right: 10px;
  height: 7px;
  width: 7px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
  height: auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.ui.shape .sides {
    width: 100%;
    display: block !important;
    padding: 0;
    margin: 0;
    clear: both;
}
.progress-buttons li {
  list-style: none; display: inline-block; width: 10px; height: 10px; background-color: #f5f5f5; cursor: pointer;
}
.progress-buttons {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 0px;
} 
.progress-buttons li.active {
  background-color: #b47e36;
}
.category-flip {
  margin-top: 84px;
}
.ui.grid>[class*="five column"].row>.column {
    margin: 0;
    padding: 0;background-color: #000;
}
.ui.grid>[class*="four column"].row>.column {
  margin: 0; padding: 0; background-color: #000;
}
.ui.grid>[class*="two column"].row>.column {
    width: 50%!important;margin: 0;
    padding: 0;background-color: #000;
}
.ui.shape.animating .sides {
    position: absolute;
    -webkit-transition: -webkit-transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;
    transition: transform .6s ease-in-out,left .6s ease-in-out,width .6s ease-in-out,height .6s ease-in-out;padding: 0; margin: 0; }
    
.ui.shape.animating .side {
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    padding: 0; margin: 0;
}
.ui.shape:hover .banner-hover-con {
    opacity: 1;
    z-index: 99;
    color: inherit;-webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  max-height: 666px;
      background-color: #fff;
      height: auto;
}
.carousel-control.left, .carousel-control.right {
	background:none !important;

	}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  
}
/* product slider with thumbnails*/
.product-carousel-inner .carousel .item {
  max-height: initial;
  background-color: transparent;
}
.product-carousel-inner .carousel .item img {
    width: 100%;
    position: relative;
    min-width: initial;
}
.product-carousel-inner .thumnails-part .carousel-control.left {
  left: -11%;
  top: 30%;
}
.product-carousel-inner .thumnails-part .carousel-control.right {
  right: -11%;
  top: 30%;
}
.product-carousel-inner .slides-part .carousel-control.left {
  left: -11%;
  top: 50%;
}
.product-carousel-inner .slides-part .carousel-control.right {
  right: -11%;
  top: 50%;
}
.product-carousel-inner .thumnails-part span i {
  font-size: 50px;
  color:#b8813e;
}
.product-carousel-inner .slides-part span i {
  font-size: 80px;
  color:#b8813e;
}
.product-carousel-inner .carousel {
    margin-top: 20px;
}
.product-carousel-inner .carousel .item .thumb {
    width: 100%;
    cursor: pointer;
    display: block;
}
.thumnails-part .item {
  width: 12%;
  display: inline-block;
}
.product-carousel-inner .carousel .item .thumb img {
  width: 100%;
  margin: 2px;
}
.product-carousel-inner .carousel .item img {
  width: 100%;  
}
.product-carousel-inner {
  margin: 0 auto;
  display: block;
  clear: both;
  float: none;
}
.thumnails-part .overlay-bg {
  background:rgba(0,0,0,.5);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.thumnails-part .overlay-bg i.fa-plus {
    font-size: 30px;
    padding-top: 11%;
    color: #fff;
}
.product-slider .fullwidth {
    width: 90%;
  }
.thumnails-part .carousel-inner .active .thumb .overlay-bg, 
.thumnails-part .carousel-inner .item .thumb:hover .overlay-bg {
  opacity:1;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.left-side-img .carousel-control.left {
  top: 48%;
  left: 0;
  width: 50px;
}
.left-side-img .carousel-control.right {
  top: 48%;
  right: 0;
  width: 50px;
}
.left-side-img .carousel-control {
  font-size: 40px;
  color: #fff;
  opacity: 1;
}
/* Featurettes
------------------------- */
@media only screen and (max-width: 1366px) {
#myCarousel .row {
    max-height: 443px;
}
.main-slider-container {
    margin-top: 86px;
}
.carousel-indicators li {
  height: 5px; width: 5px;
}
.carousel-indicators li .active {
  height: 6px; width: 6px;
}
}
@media only screen and (max-width: 768px) {
.main-slider .slider-sections {
  width: 25%;
}
.category-flip {
    margin-top: 56px;
}
.ui.grid>[class*="five column"].row>.column {
  width: 33.33% !important;
}
.product-carousel-inner .slides-part span i {
  font-size: 50px;
}
.product-carousel-inner .thumnails-part span i {
  font-size: 30px;
}
.product-carousel-inner .slides-part .carousel-control.left {
  left: -16%;
}
.product-carousel-inner .slides-part .carousel-control.right {
  right: -16%;
}
.product-carousel-inner .thumnails-part .carousel-control.left {
  left: -12%;
}
.product-carousel-inner .thumnails-part .carousel-control.right {
  right: -12%;
}
.thumnails-part .item {
  width: 10%;
}
.expand-slide-img {
  top: 85%;
}
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (max-width: 500px) and (min-width: 350px) {
.carousel .item {
      max-height: 1000px;
}
.mobile-flip-slider {
  width: 88%;
}
.product-carousel-inner .thumnails-part .carousel-control {
  top: 0 !important;
}
.banner-images {
  max-height: 220px;
  max-width: 240px;
}
.banner-hover-con img {
  max-width: 80%;
}
.banner-hover-con {
  padding-top: 7% !important;
}
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  
}
@media only screen and (max-width: 500px) and (min-width: 350px) {
.carousel .item {
      max-height: 1000px;
}
}

