.glyphicon-like {
	background-image: url("../../images/plus_icon.png");
    display: inline-block;
    height: 15px;
    margin-top: 9px;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 16px;
    margin-right: 10px;
	}
.fa-share-alt-square {
   background:url(../../images/icons/like-icon.png) center no-repeat #ff4539;
}
